[class *="container"] {
    width: 1200px;
    margin: 0 auto;
}

button {
    border: none;
}

.header {
    padding-top: 40px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.location__icon {
    color: #006241;
}

.logo__block {
    display: flex;
    gap: 20px;
    align-items: center;
}

.menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.search__input {
    background: red;
    width: 450px;
    position: relative;
}

.search__icon {
    position: absolute;
    line-height: 40px;
    left: 10px;
}

.search {
    width: 100%;
    height: 40px;
    padding-left: 40px;
    color: #000;
}

.menu__item {
    text-align: center;
}

.menu__icon {
    display: block;
}

/* ----- hero item start ----- */

.hero__grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 600px 285px 300px;
}

.hero__item {
    position: relative;
    width: 600px;
    /* Ширина контейнера */
    height: 400px;
    /* Висота контейнера */
    overflow: hidden;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #016241;
}

.hero__item__1 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.hero__item__2 {
    background: #008D59;
    width: 285px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    color: #fff;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;

    .hero__title {
        font-size: 24px;
        font-weight: normal;
        margin-bottom: 30px;
    }

    .hero__text {
        width: 228px;
    }

    .order__btn {
        border: 2px solid #fff;
        border-radius: 100px;
        cursor: pointer;
        color: #fff;
        width: 160px;
        height: 45px;
        background: none;
        transition: 150ms ease-in;

        &:hover {
            border-color: #016241;
            background: #016241;
        }
    }
}

.hero__item__3 {
    background: #1E3932;
    width: 100%;
    margin-left: 20px;
    border-radius: 20px;
    padding: 0 20px;
    position: relative;
    color: #fff;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;

    .hero__product--img {
        width: 280px;
    }

    .hero__item--title {
        font-size: 18px;
    }

    .hero__price {
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    .old__price {
        position: relative;
        top: 3px;
        font-size: 14px;
        color: #cbcbcb;
    }

    .new__price {
        font-size: 20px;
    }

    .promo__btn {
        display: block;
        width: 100%;
        background: #fff;
        border: none;
        height: 40px;
        border-radius: 12px;
        cursor: pointer;
        transition: 150ms ease-in-out;

        &:hover {
            background: #016241;
            color: #fff;
        }
    }
}

.coffee__slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.coffee__slider-item {
    flex: 0 0 33.33%;
    /* Ширина кожного елемента */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.coffee__slider-img {
    width: 80%;
    /* Звичайна ширина зображення */
    opacity: 0.6;
    /* Менш прозорі бокові зображення */
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.coffee__slider-item:nth-child(2) img,
.coffee__slider-item:nth-child(4) img {
    transform: scale(1);
    /* Бокові зображення */
}

#main-image {
    transform: scale(1.5);
    /* Збільшене центральне зображення */
    opacity: 1;
    /* Повністю видиме центральне зображення */
}


/* ------------- coffee grid ------------- */

.main {
    margin-top: 100px;
}

.section__title {
    font-size: 24px;
    margin-bottom: 20px;
}

.cofee__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 100px;
}

.coffee__block--1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 320px 180px 250px;
    grid-auto-columns: 1fr;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "seasonal seasonal"
        "merchandise food"
        "home home";
}

.grid__item {
    border-radius: 16px;
    background: #F1F2F5;
    position: relative;
    overflow: hidden;
}

.item__img {
    height: 300px;
    position: absolute;
    bottom: -80px;
    right: -30px;
    transform: rotate(-45deg);
}

.item__tittle {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    text-transform: capitalize;
}

.seasonal {
    grid-area: seasonal;
    background: #F66F2D;
}

.block {
    width: 290px;
    background: #a7a7a74f;
    backdrop-filter: blur(20px);
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    padding: 20px;
}

.seasonal__title {
    font-size: 24px;
    font-weight: 600;
}

.seasonal__text {
    font-size: 14px;
    color: #555555;
}

.donut__img {
    width: 100px;
    animation: donut 5s linear infinite;
    position: absolute;

    &:first-child {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    &:nth-child(2) {
        top: 100px;
        right: 10px;
    }

    &:nth-child(3) {
        top: 250px;
        right: 80px;
    }
}

@keyframes donut {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}



.merchandise {
    grid-area: merchandise;

    img {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.food {
    grid-area: food;

    img {
        height: 160px;
        position: absolute;
        right: 20px;
        bottom: 5px;
    }
}

.home {
    grid-area: home;

    img {
        height: 260px;
        position: absolute;
        bottom: 5px;
        right: 20px;
    }
}

.coffee__block--2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 400px 250px;
    grid-auto-columns: 1fr;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "popular popular"
        "coffees teas"
        "frappucino drinks";
}

.popular {
    grid-area: popular;
}

.coffees {
    grid-area: coffees;
}

.teas {
    grid-area: teas;
}

.frappucino {
    grid-area: frappucino;
}

.drinks {
    grid-area: drinks;

    img {
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);
    }
}



.gift__block {
    display: flex;
    padding: 20px;
    background: #008D59;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;

    width: 1200px;
    margin: 0 auto;
}

.gift__item-1 {
    color: #fff;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.gift__title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.btn__list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.gift__btn {
    width: 165px;
    height: 50px;
    border-radius: 100px;
    cursor: pointer;
    color: #fff;
}

.add__btn {
    background: none;
    border: 2px solid #fff;
}

.balance__btn {
    background: #016541;

}

.gift__item-2 {
    display: flex;
    gap: 20px;
    overflow: hidden;
    width: 450px;
    height: 250px;
    /* Висота контейнера */
}

.column {
    width: 200px;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column img {
    width: 100%;
    height: 250px;
    background-color: #ccc;
}

button {
    background: none;
}

[class *="__subtitle"] {
    font-size: 40px;
    font-weight: normal;
}

.popular__section {
    margin-top: 100px;
}

.section__name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.popular__slider-btn {
    height: 50px;
    border: 2px solid #000000;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    color: #000;
    border-radius: 100%;
    transition: all 0.5s ease;
}

.popular__slider-btn:hover {
    background: rgb(0, 141, 89);
    border-color: #008D59;
    color: #fff;
}

.popular__container {
    overflow: hidden;
    padding-bottom: 20px;
}

.popular__slider {
    display: grid;
    grid-template-columns: repeat(9, 285px);
    gap: 20px;
    transition: transform 0.5s ease-in-out;
}

.popular__text-block {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.popular__title {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: normal;
}

.popular__description {
    display: flex;
    align-items: center;
    gap: 5px;
}

.popular__price {
    font-size: 20px;
}

.busket {
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    background: #491e0a;
    border-radius: 100%;
}

.popular__item {
    height: 460px;
    width: 100%;
    padding: 10px;
    /* background: red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.product__badge {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.product__label {
    background: #fff;
    padding: 4px 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.product__favorite {
    font-size: 20px;
    border: none;
    background: none;
    cursor: pointer;
}

.popular__img-block {
    height: 330px;
    width: 100%;
    background: #F1F1F5;
    border-radius: 20px;
    position: relative;
}

.popular__icon {
    height: 16px;
}

.popular__img {
    object-fit: cover;
    height: 220px;
    width: 128px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popular__title {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 30px;
}

.popular__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular__price {
    font-size: 20px;
}

.plus__btn {
    height: 40px;
    width: 80px;
    line-height: 40px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    background: #000000;
    border-radius: 8px;
    cursor: pointer;
}

.track__container {
    margin-top: 130px;
    margin-bottom: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    border-radius: 16px;
    overflow: hidden;
    height: 250px;
    background: #D2BB87;
}

.track__block {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.track__btn {
    height: 50px;
    border-radius: 100px;
    font-weight: 600;
    border: 2px solid #000;
    cursor: pointer;
    transition: 100ms linear;
    &:hover {
        background: #d1b470;
        border: 2px solid #D2BB87;
    }
}

.footer {
    margin-bottom: 200px;
}

.track__img {
    height: 100%;
    width: 600px;
    object-fit: cover;
}

.footer__menu--block {
    display: flex;
    justify-content: space-between;
}

.footer__menu .footer__menu--item:not(:last-child) {
    padding-bottom: 15px;
}

.footer__menu--item {
    cursor: pointer;
    padding-bottom: 2px;
    transition: 300ms linear;
    &:hover{
        text-decoration:underline;
    }
}

.footer__menu--title {
    font-size: 24px;    
    font-weight: normal;
    margin-bottom: 30px;
}

.footer__block--item {
    width: 200px;
}